.foodListItem {
  display: flex;
  gap: 30px;
  border-radius: 15px;
  background: #fff;
  padding: 22px;
  box-shadow: 0px 0px 9px 0px rgba(100, 126, 118, 0.09);
}

.image {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.calorie {
  font-size: 15px;
  color: #4caf50;
  border-radius: 6px;
  background: #eaf3ea;
  padding: 6px 8px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.content {
  flex-grow: 1;
  color: #6d7372;
  line-height: 26px;
  margin: 15px 0 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #c6cdc1;
  font-size: 14px;
  font-weight: 600;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}
