.input {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #dae7e3;
  background: #fff;
  color: #2b302f;
}

.default {
  border: 1px solid #dae7e3;
}

.search {
  background-image: url('../../public/search.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px;
  padding-right: 60px;
}

.input:focus {
  border-color: #56ca5a;
  outline: none;
}

.input::placeholder {
  color: #b6bab2;
}
