.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-index-modal);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 24px;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.title {
  flex-grow: 1;
  font-size: 32px;
}

.closeButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
}