.header {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.filter {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.filter.active {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #2c9631;
  font-weight: 500;
}

.filter.active::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #2c9631;
}
